body {
  padding: 0;
  margin: 0;
}

.firstSection {
  height: 100vh;
  background-image: url('./../../../public/images/mountain-firstSection.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}