* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

nav {
	/*Will remove bullet points on list items*/
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}